
@import '../../../assets/styles/variables';
@import '../../../assets/styles/fonts';


.collection {
  display: flex;
  justify-content: center;

  &__gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem; // Adjusted gap to reduce space between medium images
    justify-content: space-between;
    width: 90%; // Adjusted width to make the container wider
    margin: 1rem 5rem;
    max-width: 80rem; // Set a max-width to control the overall width of the gallery
    border-radius: 6px solid green;
  
  }

  &__gallery-item {
    position: relative;
    width: calc(48.9% - 1rem); // Adjust the width to fit three columns with reduced gaps
    background-color: #EDEEF2;
  

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &--large {
      height: 580px;
      background-color: #EDEEF2;
    }

    &--small {
      height: calc(48% - 1rem);
      background-color: red;
    }

    &--medium {
      height: calc(90.76% - 1rem);
   //   padding-bottom: -2rem;
      background-color: black;
    }

    .icon {
      position: absolute;
      background-color: #fff;
      border-radius: 50%;
      padding: 0.6rem;
      display: flex;

      &--heart {
        top: 1.2rem;
        right: 1rem;
      }

      &--cart {
        bottom: 2rem;
        right: 1.2rem;
        display: flex;
        background-color: #fff;
        border-radius: 2rem;
        padding: 1rem 2.7rem;
        align-items: center;

        span {
          margin-left: 0.5rem;
          font-weight: 500;
          font-family: $primary-font-family;
        }
      }

      img {
        width: 1.5rem; // Adjust icon size
        height: 1.5rem; // Adjust icon size
      }
    }
  }



  .fade-enter {
    opacity: 0;
    transform: scale(0.9);
  }

  .fade-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
  }

  .fade-exit {
    opacity: 1;
    transform: scale(1);
  }

  .fade-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
  }

  &__carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;


    &-indicator {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 0.5rem;
      cursor: pointer;

      &.active {
        background-color: #141311;
        color: #fff;
      }

      &:not(.active) {
        background-color: #edeef2;
        color: #141311;
      }
    }

    &-nav {
      width: 2rem;
      height: 2rem;
      border: 1px solid #141311;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      margin: 0 0.5rem;

      &--left {
        display: flex; // Show the left arrow when needed
      }
    }
  }


  /* Responsive Styles */
@media (max-width: 1200px) {
  .collection__gallery {
    width: 95%;
    margin: 1rem 2rem;
  }

  .collection__gallery-item {
    width: calc(48% - 0.5rem);
  }
}


  @media (max-width: 768px) {
    &__container {
      margin: 0 1rem;
    }

    .collection__gallery {
      width: 100%;
      margin: 1rem;
    }
  
    .collection__gallery-item {
      width: calc(98% - 0.5rem);
    }

    &__gallery {
      flex-direction: column;
      align-items: center;

      &-column {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
      }
    }

    .icon {
      &--cart {
        bottom: 1rem;
        border-radius: 1.5rem;
        padding: 0.6rem 1.7rem;
        font-size: 1.5rem; 
        span {
          margin-left: 0.5rem; 
        }
      }

      img {
        width: 1.5rem; // Adjust icon size
        height: 1.5rem; // Adjust icon size
      }
    }
  }
}
