@import url( ' https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap ' );

@font-face {
    font-family: 'SF Pro Text';
    src: url('/fonts/SFProText/SFProText-Regular.woff2') format('woff2'),
         url('/fonts/SFProText/SFProText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SF Pro Text';
    src: url('/fonts/SFProText/SFProText-Bold.woff2') format('woff2'),
         url('/fonts/SFProText/SFProText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }

  $black_background: #141311;   
  $primary-font-family: 'Space Grotesk', sans-serif;

.hero {
    display: flex;
  //  align-items: center;
    margin: 1rem 5rem;

    @media screen and (max-width: 700px) {
      display: flex;
      flex-direction: column;
      margin: 0;
    }
    
    &__info {
      //  line-height: 108px;
    }

    &__title {
    font-family: $primary-font-family;
     font-weight: 600;
     font-size: 4rem;
     width: 100%
    }

    &__unique {
        color: #BA9B88;
    }

    &__subtitle {
        margin-top: -1rem;
        font-family: 'SF Pro Text', sans-serif;
        font-weight: 300;
        font-size: 1.7rem;
        color: $black_background;
    }

    &__call_to_action {
        margin-top: 1rem;

        button {
            margin-top: 1rem;
            background-color: $black_background;
            padding: 0.8rem 1.3rem;
            color: #fff;
            font-weight: 400;
            font-size: 1.3rem;
            font-family: $primary-font-family;
            border-radius: 4px;

            @media screen and (max-width: 700px) {
             padding: 0.6rem 1rem;
             border-radius: 0.5rem;
             font-size: 1rem;
            }
        }
    }

    &__image {
      //  margin-top: 2rem;
     //   max-height: 300px;
        
      @media screen and (max-width: 700px) {
        display: flex;
        flex-direction: column;
        height: 400px;
      }
    }
}