.header {
    margin-top: 6rem;
    margin-left: 7.5rem; // 120px converted to rem
  
    .header-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
  
      .nav-left, .nav-right {
        display: flex;
        align-items: center;
      }
  
      .nav-item {
        margin-right: 2rem;
        text-decoration: none;
        color: #333;
        cursor: pointer;
      }
  
      .dropdown {
        display: flex;
        align-items: center;
      }
  
      .search-bar {
        display: flex;
        align-items: center;
        position: relative;
  
        input {
          border: none;
          border-radius: 1rem;
          padding: 0.5rem 2.5rem 0.5rem 1rem;
          background: #9D9E9D;
          color: white;
          width: 200px;
  
          &::placeholder {
            color: white;
          }
        }
  
        .search-icon {
          position: absolute;
          right: 10px;
          color: white;
        }
      }
  
      .toggle-icon {
        display: none;
        cursor: pointer;
      }
    }
  
    .mobile-nav {
      display: none;
      flex-direction: column;
      align-items: center;
  
      .nav-item {
        margin: 1rem 0;
      }
    }
  }
  
  // Media Queries
  @media (max-width: 768px) {
    .header {
      .header-content {
        .nav-left, .nav-right {
          display: none;
        }
  
        .toggle-icon {
          display: block;
        }
      }
  
      .mobile-nav {
        display: flex;
      }
    }
  }
  
  @media (max-width: 480px) {
    .header {
      .header-content {
        .nav-left, .nav-right {
          display: none;
        }
  
        .toggle-icon {
          display: block;
        }
      }
  
      .mobile-nav {
        display: flex;
      }
    }
  }
  